---
import BoxMessage from "@/components/BoxMessage.astro";
import ButtonCreate from "@/components/ButtonCreate.astro";
import ChatItem from "@/components/ChatItem.astro";
import DotsIcon from "@/icons/DotsIcon.astro";
import MessageIcon from "@/icons/MessageIcon.astro";
import MicrophoneIcon from "@/icons/MicrophoneIcon.astro";
import PhoneIcon from "@/icons/PhoneIcon.astro";
import SendIcon from "@/icons/SendIcon.astro";
import SettingIcon from "@/icons/SettingIcon.astro";
import SoundIcon from "@/icons/SoundIcon.astro";
import Layout from "@/layouts/Layout.astro";
import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
if (session == null) return Astro.redirect("/auth");
---

<Layout title=`Chats de ${session?.user?.name }` classs="p-2">
    <div id="app" class="relative h-screen gap-2 xs:pr-0">
        <aside
            class="[grid-area:aside] p-1 flex flex-col h-full xs:hidden sm:flex"
        >
            <ButtonCreate text="Nuevo chat">
                <MessageIcon />
            </ButtonCreate>
            <div
                class="list-chat overflow-y-auto flex flex-col mt-2 gap-[0.2rem] h-full"
            >
                <ChatItem
                    src="logo.svg"
                    name="Chat 1"
                    description="adasdads"
                    id=""
                />
                <ChatItem
                    src="logo.svg"
                    name="Chat 2"
                    description="adasdads"
                    id=""
                />
                <ChatItem
                    src="logo.svg"
                    name="Chat 3"
                    description="adasdads"
                    id=""
                />
            </div>

            <div
                class="flex justify-between content-center items-center p-1 rounded-md h-[100px]"
            >
                <a class="items-center flex gap-4" href="/profile">
                    <img
                        src={session.user?.image}
                        alt=""
                        class="w-7 rounded-full"
                    />
                    <div>
                        <p class="font-bold text-xs text-wrap normal-case">
                            {session.user?.name}
                        </p>
                        <p class="font-normal [font-size:0.60rem] text-wrap">
                            {session.user?.email}
                        </p>
                    </div>
                </a>
                <div>
                    <ul class="flex gap-4">
                        <li>
                            <a href="#">
                                <SettingIcon
                                    class="dark:text-white hover:text-green-300 text-slate-700"
                                />
                            </a>
                        </li>
                        <li>
                            <a href="#
                            ">
                                <PhoneIcon
                                    class="dark:text-white hover:text-green-300 text-slate-700"
                                />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>

        <header class="[grid-area:header] text-white">
            <nav
                class="flex justify-end p-2 bg-white shadow-md text-slate-700 dark:text-white dark:bg-slate-900 rounded-xl"
            >
                <ul class="flex gap-5 items-center">
                    <li>
                        <button type="button">
                            <SoundIcon
                                class="dark:text-white dark:hover:text-green-300 text-slate-700"
                            />
                        </button>
                    </li>
                    <li
                        class="rounded-lg dark:bg-slate-800 bg-[#E1FFF1] text-center dark:text-white content-center"
                    >
                        <button type="button" class="p-2">
                            <DotsIcon
                                class="text-xs text-[#2B9F69] dark:text-white"
                            />
                        </button>
                    </li>
                </ul>
            </nav>
        </header>
        <main
            class="[grid-area:main] bg-white text-slate-700 dark:text-white dark:bg-transparent h-fit flex flex-col"
        >
            <div class="flex-grow flex flex-col px-auto">
                <div
                    class="overflow-y-scroll space-y-4 px-3 py-auto max-h-[500px]"
                >
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        bg="bg-slate-200 dark:bg-[#f5f5f525]"
                        class="box-user justify-end text-gray-700 dark:text-gray-300"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        class="box-bot text-gray-100"
                        bg="bg-[#2B9F69] dark:bg-[#2B9F69]"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        bg="bg-slate-200 dark:bg-[#f5f5f525]"
                        class="box-user justify-end text-gray-700 dark:text-gray-300"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        class="box-bot text-gray-100"
                        bg="bg-[#2B9F69] dark:bg-[#2B9F69]"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        bg="bg-slate-200 dark:bg-[#f5f5f525]"
                        class="box-user justify-end text-gray-700 dark:text-gray-300"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        class="box-bot text-gray-100"
                        bg="bg-[#2B9F69] dark:bg-[#2B9F69]"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        bg="bg-slate-200 dark:bg-[#f5f5f525]"
                        class="box-user justify-end text-gray-700 dark:text-gray-300"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        class="box-bot text-gray-100"
                        bg="bg-[#2B9F69] dark:bg-[#2B9F69]"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        bg="bg-slate-200 dark:bg-[#f5f5f525]"
                        class="box-user justify-end text-gray-700 dark:text-gray-300"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        class="box-bot text-gray-100"
                        bg="bg-[#2B9F69] dark:bg-[#2B9F69]"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        bg="bg-slate-200 dark:bg-[#f5f5f525]"
                        class="box-user justify-end text-gray-700 dark:text-gray-300"
                    />
                    <BoxMessage
                        content="Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt cupiditate velit voluptatem eligendi qui? Earum quam cupiditate, quasi fugit, tenetur minima quas provident dolores totam quod, non autem recusandae asperiores?"
                        class="box-bot text-gray-100"
                        bg="bg-[#2B9F69] dark:bg-[#2B9F69]"
                    />
                </div>
                <div class="flex gap-3 mt-4">
                    <div
                        class="rounded-xl flex flex-grow bg-white dark:bg-slate-900 items-center content-center gap-2 p-2 justify-between shadow-md"
                    >
                        <input
                            type="text"
                            name="query"
                            id="query"
                            class="p-2 w-full bg-transparent text-sm focus:outline-none"
                            placeholder="Ingrese su consulta..."
                        />
                        <div class="flex items-center content-center gap-3">
                            <button>
                                <MicrophoneIcon
                                    class="text-slate-800 dark:text-white dark:hover:text-green-300"
                                />
                            </button>
                            <button
                                class="bg-[#2B9F69] p-3 rounded-full hover:bg-[#228155]"
                            >
                                <SendIcon
                                    class="text-slate-800 dark:text-white"
                                /></button
                            >
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</Layout>

<style>
    @screen xs {
        #app {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 60px 1fr;
            grid-template-areas:
                "header"
                "main";
        }
    }
    @screen md {
        #app {
            display: grid;
            grid-template-columns: 250px 1fr;
            grid-template-rows: 60px 1fr;
            grid-template-areas:
                "aside header"
                "aside main";
        }
    }
</style>
