---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import { getSession } from "auth-astro/server";
import ButtonChat from "@/components/ButtonChat.astro";
const session = await getSession(Astro.request);
---

<Layout title="Bienvenido a Deache Chat">
	<Header />
	<main class="flex items-center justify-center h-auto">
		<div
			class="container mx-auto px-6 py-12 grid grid-cols-1 md:grid-cols-2 gap-8 items-center"
		>
			<div class="text-center md:text-left ">
				<h1 class="text-6xl font-bold mb-6 text-[#24d0d6] uppercase leading-snug">
					¡Bienvenido al Chat bot de la Universidad de Huánuco!
				</h1>
				<p
					class="text-lg mb-8 text-gray-700 dark:text-gray-300 text-wrap w-96 font-semibold"
				>
					Tu asistente virtual para todas las consultas y dudas
					universitarias que tengas.
				</p>
				<ButtonChat
					text="Quiero comenzar"
					class="bg-[#25b8bd] text-gray-100 px-6 py-3 rounded-lg shadow hover:bg-[#2aacb1] font-bold"
					href="https://deache.streamlit.app/"
				/>
			</div>
			<div class="flex justify-center md:justify-end">
				<img src="real_leon.png" alt="real_leon2" class="w-full" />
			</div>
		</div>
	</main>
</Layout>

<style></style>
