---
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import { getSession } from "auth-astro/server";
import ButtonChat from "@/components/ButtonChat.astro";
const session = await getSession(Astro.request);
---

<Layout title="Bienvenido a Deache Chat">
	<Header />
	<main class="flex items-center justify-center w-full">
		<div
			class="container px-6 py-12 grid grid-cols-1 md:grid-cols-2 gap-8 items-center content-center w-full"
		>
			<div class="text-center md:text-left">
				<h1 class="md:text-6xl lg:text-5xl font-bold mb-6 text-[#24d0d6] uppercase sm:leading-normal lg:leading-snug md:leading-snug xs:leading-snug  xs:text-3xl">
					¡Bienvenido al Chat bot de la Universidad de Huánuco!
				</h1>
				<p
					class="md:text-lg  lg:text-lg mb-8 text-gray-700 dark:text-gray-300 text-wrap lg:w-96  md:w-96 xs:w-80 font-semibold xs:text-base"
				>
					Tu asistente virtual para todas las consultas y dudas
					universitarias que tengas.
				</p>
				<ButtonChat
					text="Ingresar"
					class="bg-[#127f83] text-gray-100 px-6 py-3 rounded-lg shadow hover:bg-[#186769] font-bold"
					href="https://deache.streamlit.app/"
				/>
			</div>
			<div class="flex justify-center md:justify-end">
				<img src="real_leon.png" alt="real_leon2" class="w-[500px] " />
			</div>
		</div>
	</main>
</Layout>

<style></style>
